In [45]:
import numpy as np

In [46]:
import pandas as pd

In [47]:
xtrain = pd.read_excel('canada_per_capita_income.xlsx',header=None,usecols="A")

In [48]:
ytrain = pd.read_excel('canada_per_capita_income.xlsx',header=None,usecols="B")

In [49]:
print(xtrain)

       0
0   year
1   1970
2   1971
3   1972
4   1973
5   1974
6   1975
7   1976
8   1977
9   1978
10  1979
11  1980
12  1981
13  1982
14  1983
15  1984
16  1985
17  1986
18  1987
19  1988
20  1989
21  1990
22  1991
23  1992
24  1993
25  1994
26  1995
27  1996
28  1997
29  1998
30  1999
31  2000
32  2001
33  2002
34  2003
35  2004
36  2005
37  2006
38  2007
39  2008
40  2009
41  2010
42  2011
43  2012
44  2013
45  2014
46  2015
47  2016

In [50]:
print(ytrain)

                          1
0   per capita income (US$)
1                    4633.3
2                    5002.3
3                   5485.18
4                   6038.46
5                   6810.51
6                   7232.14
7                   8296.13
8                   8334.13
9                   8481.97
10                  8836.91
11                  9589.97
12                  10668.4
13                  10853.4
14                  11650.5
15                  12024.3
16                    12253
17                  12716.9
18                  14208.8
19                  16314.3
20                  17660.7
21                  18072.7
22                  18500.1
23                  17646.1
24                  17109.6
25                  16989.8
26                  17603.3
27                  17933.8
28                  18544.8
29                  17856.7
30                    18815
31                  20221.4
32                  19835.4
33                  20466.2
34                  23973.4
35                  26953.1
36                  30432.1
37                  33972.3
38                  37378.5
39                  38680.5
40                  33989.2
41                  39654.5
42                  43568.7
43                  43899.3
44                  43910.5
45                  42273.9
46                  36409.2
47                  35463.2